name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Set up Android debug keystore
      run: |
        mkdir -p ~/.android
        keytool -genkey -v -keystore ~/.android/debug.keystore -storepass android -alias androiddebugkey -keypass android -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=Android Debug,O=Android,C=US"

    - name: Create local.properties with debug keystore config
      run: |
        echo "SIGNING_KEY_PATH_OVERRIDE=~/.android/debug.keystore" >> local.properties
        echo "SIGNING_KEY_PASSWORD=android" >> local.properties
        echo "SIGNING_KEY_ALIAS_PASSWORD=android" >> local.properties
        echo "SIGNING_KEY_ALIAS=androiddebugkey" >> local.properties

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk-debug
        path: app/build/outputs/apk/debug/*.apk

    - name: Upload Mod API JAR
      uses: actions/upload-artifact@v4
      with:
        name: modapi-jar
        path: app/build/javaModApi-*.jar
