name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Set up Android debug keystore
      run: |
        mkdir -p $HOME/.android
        keytool -genkey -v -keystore $HOME/.android/debug.keystore -storepass 1503Dev -alias 1503Dev -keypass 1503Dev -keyalg RSA -keysize 2048 -validity 10000 -dname "CN=1503Dev Debug,O=1503Dev"

    - name: Create local.properties
      run: |
        echo "BUILD_IN_CI=true" >> local.properties
        echo "SIGNING_KEY_PATH_OVERRIDE=$HOME/.android/debug.keystore" >> local.properties
        echo "SIGNING_KEY_PASSWORD=android" >> local.properties
        echo "SIGNING_KEY_ALIAS_PASSWORD=android" >> local.properties
        echo "SIGNING_KEY_ALIAS=androiddebugkey" >> local.properties

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk-debug
        path: app/build/outputs/apk/debug/*.apk

    - name: Upload Java Mod API JAR
      uses: actions/upload-artifact@v4
      with:
        name: modapi-jar
        path: build/javaModApi-*.jar